@import "tailwindcss";

img{
    max-height: 100%;
}
input, textarea, select {
    border: 1px solid #e5e7eb;
    border-radius: 0.125rem;
    padding: 0.5rem 0.75rem;
    width: 100%;
    margin-bottom: 0.5rem;
  }
  
  input:focus, textarea:focus, select:focus {
    border-color: #1e3a8a;
  }
  
  h1 {
    color: #1f2937;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  
  label {
    color: #4b5563;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .btn-primary {
    background-color: gray;
    color: #ffffff;
    padding: 0.25rem 1rem;
    border-radius: 0.125rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  table.basic {
    width: 100%;
    background-color: #ffffff;
    border-radius: 0.125rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    
    thead tr {
      td, th {
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: #4b5563;
        text-transform: uppercase;
        border-bottom: 1px solid #e5e7eb;
        padding: 0.5rem 1rem;
      }
    }
    
    tr td {
      padding: 0.25rem 1rem;
    }
    
    a {
      padding: 0 1rem;
      border-radius: 0.125rem;
      display: inline-flex;
      margin: 0 0.25rem;
      align-items: center;
      gap: 0.25rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      padding: 0.25rem 1rem;
    }
  }
  
  .btn-default, .btn-red {
    padding: 0.25rem 1rem;
    border-radius: 0.375rem;
  }
  
  .btn-red {
    background-color: #fecaca;
    color: #dc2626;
    padding: 0.25rem 1rem;
    border-radius: 0.125rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  .btn-default {
    background-color: #ffffff;
    color: #1f2937;
    padding: 0.25rem 1rem;
    border-radius: 0.125rem;
    border: 1px solid #e5e7eb;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }